body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('https://source.unsplash.com/1600x900/?nature') no-repeat center center fixed;
  background-size: cover;
}

.container {
  background-color: rgb(109, 164, 253, 0.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0 0 20px;
  font-size: 3em;
  color: #383838;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.input-group input, .input-group select, .input-group button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.input-group button {
  background-color: #0a45f5;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.input-group button:hover {
  background-color: #0e049a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.completed {
  text-decoration: line-through;
  background-color: #e0ffe0;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #0091ff;
  transition: color 0.3s;
}

li button:hover {
  color: #034c91;
}

.timer {
  font-size: 14px;
  margin-left: 10px;
  color: #555;
}